.Rproj.user
.Rhistory
.RData
.Ruserdata

__pycache__
.vscode
.venv

.DS_Store
*.log

src/risk_analysis/traces/*
!src/risk_analysis/traces/.gitkeep

draft/*

summary/*
!summary/slides.pdf

data/*
!data/articles_txt
!data/colleges.csv
!data/media_articles.csv
!data/merged.csv
!data/states.csv