.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
*.log

.venv

src/commonality_analysis/cluster_explanations.csv
src/commonality_analysis/shap_values.csv
src/reason_analysis/lda_results.csv
src/topic_analysis/processed_article_content.csv
src/topic_analysis/article_dictionary.gensim
src/topic_analysis/corpus_tfidf.pkl

summary/presentation/figures
summary/presentation/*.pptx
summary/presentation/Sepehr-Akbari-Cliff-Panel22-BR254.pdf